<!DOCTYPE html>
<html lang="en">
<body style="background-color:powderblue;">

<head>

<br><br><br><br>
    
<input type="button" class="btn btn-upload" value="Add doctor"  onclick="window.location.href='{% url 'sgn2' %}'"  style="width: 200px;color: white; background-color:blue;height: 50px; border-radius: revert;"/>

<input type="button" class="btn btn-upload" value="View doctor"  onclick="window.location.href='{% url 'sgn4' %}'" style="width: 200px;color: white; background-color:blue;height: 50px; border-radius: revert;"/>

<input type="button" class="btn btn-upload" value="View patients" onclick="window.location.href='{% url 'sgn3' %}'" style="width: 200px;color: white; background-color:blue;height: 50px; border-radius: revert;"/>



<input type="button" class="btn btn-upload" value="Logout"  onclick="window.location.href='{% url 'sgn0' %}'" style="width: 200px;color: white; background-color:blue;height: 50px; border-radius: revert;"/>


 </head>

</body>
</html>
