  <!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
     		<title>MEDICARE</title>
     		 <link href="{% static 'css/style.css' %}" rel="stylesheet">
          <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<div class="main">
				<div class="logo">
					<img src="{% static 'image/logo.png' %}">

				</div>
								<ul>
 				    <li><a href="http://127.0.0.1:8000/">Home</a></li>
				    <li><a href="http://127.0.0.1:8000/find">Find your disease</a></li>
   				    <li><a href="http://127.0.0.1:8000/Hospitals">Hospitals</a></li>
   				    <li><a href="http://127.0.0.1:8000/about">about us</a></li>
 				    <li class="active"><a href="http://127.0.0.1:8000/contact">Contact us</a></li>
    				</ul>
 			</div>
			<div class="con">
    <form class="message">
	<ul>
		<br>
		<br>
	<li><h2>Give us a Message</h2></li>
      <li><input type="text" placeholder="name"/></li><li><input type="text" placeholder="email address"/></li><br>
      <li><input type="textarea" placeholder="message"/></li>
	<br>
      <li><button>Send</button></li>
    </ul>
    </form>
	<br>
	<br>
	<li><h2>Get in touch</h2></li>
<br>
<br>
<br>
<li><h3>Phone Number:9746349819</h3></li>
<li><h3>Email:medicare96@gmail.com</h3></li>
</ul>
</div>


		</header>
        </body>
</html>
