{% extends 'base_log.html' %}

{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
     		<title>MEDICARE</title>
     		 <link href="{% static 'css/style.css' %}" rel="stylesheet">
          <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
<body>
		<header>
			<div class="main">
				<div class="logo">
					<img src="{% static 'image/logo.png' %}"> <br>
				</div>



    <br><br><br>
            </div>
        </header>
</body>

       <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
                 <h1>Login</h1>

  <form action="{% url 'loging' %}" method="post" style="height: 200px; width: 300px;">
      {% csrf_token %}
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="text" class="form-control" id="text" name="username" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password" required>
  </div>
  <!-- <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form><br><br><br>
      <form>
<input type="button" class="btn btn-upload" value="New User? Sign up" onclick="window.location.href='{% url 'sgn' %}'"  style="width:200px;height:30px;color: white; background-color:blue; border-radius:20px;"/>
</form>
      <br>

  </div>


  <div class="col-sm-3"></div>

</div>
    <br>
    <br><br><br>



{% endblock %}
