<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="abc">
		<header>
			<div class="main">
				<div class="logo">
					<img src="{% static 'image/logo.png' %}"> <br>
				</div>
				<ul>
				    <li class="active"><a href="http://127.0.0.1:8000/find">Find your disease</a></li>
   				    <li><a href="http://127.0.0.1:8000/Hospitals">Hospitals</a></li>
   				    <li><a href="http://127.0.0.1:8000/about">about us</a></li>
 				    <li><a href="http://127.0.0.1:8000/contact">Contact us</a></li>
					<li><a href="http://127.0.0.1:8000/">Log out</a></li>
    				</ul>
			</div>
			<br><br><br><br>
			<h1> Welcome to the world of MEDICARE</h1>
</body>
</html>